.box {
  width: 60vw;
  background-color: brown;
  padding: 0.5rem;
  margin: 1rem;
}

.box p {
  padding: 0 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  transition: all 0.3s ease;
}

.title h4 {
  text-align: start;
}

.active {
  display: block;
  text-align: start;
}

button {
  margin-bottom: 1rem;
}
